.container {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;

  input {
    font-family: 'Lato';
    margin-left: 15px;
    width: 80%;
    height: 60%;
    background-color: #6a6c75;
    color: white;
    border-radius: 3px;
    border:none;
    font-size: 16px;
    padding-left: 10px;

    &::placeholder{
      color: white;
    }
  }

  .fasearch {
    transform: translateX(-25px);
    color: white;
  }
}
